parameters:
  level: 9
  checkGenericClassInNonGenericObjectType: false
  treatPhpDocTypesAsCertain: false
  reportMaybesInPropertyPhpDocTypes: false

  paths:
    - src

  excludePaths:
    - vendor

  ignoreErrors:
    - '#Dynamic call to static method Illuminate#'
